@{
    Layout = "Views/Shared/_Layout.cshtml";
}

@if(Model["venue"].Count!=0)
{
  <h1>All Our Venue</h1>
<span class="displayChange"></span>
  @foreach(var venue in Model["venue"])
  {
    <div class="displayPerson contanier">

      <div class="editForm">
        <h2>Venue #@venue.GetId():<span class="editNameInputDisplay"> @venue.GetName()</span></h2>
        <button type="button" name="button" class="editButton btn btn-info btn-lg btn-block"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
Edit</button>
            <form action="/edit/venue/@venue.GetId()" method="post" class="editButtonShow">
              <input type="hidden" name="_method" value="PATCH">

              <label for="edit-venue-name">Enter New Name</label>
              <input type="text" class="form-control editNameInput"  id="edit-venue-name" name="edit-venue-name" value="">
              <button class="btn btn-success btn-lg btn-block" type="submit"  name="button">Change to New Name</button>
            </form>
      </div>
      <div class="deleteVenueForm">
          <form class="" action="/delete/venue/@venue.GetId()" method="post">
            <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn btn-danger btn-lg btn-block" name="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
Delete</button>
          </form>
        </div>
        <div class="ViewBand">
          <button type="button" class="btn btn-success btn-lg btn-block" ><a class="" href="/view/venue/@venue.GetId()"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
View All Band Host In My Place</a></button>
        </div>
    </div>

         <div class="well">
           <h3>Add Your Band Name to Our Venue</h3>
           <form class="" action="/venue/addBands/@venue.GetId()" method="post">
             <select name="addBands-id">
              @foreach (var b in Model["band"])
              {
                <option value="@b.GetId()">@b.GetName()</option>
              }
            </select>
             <button type="submit" class="btn btn-success" name="button" >
               <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
               Add Now</button>
           </form>

         </div>

}
}else
{
<h1>We don't have any venues now. Enter New Venue</h1>
}
<div class="well">
  <h3>Enter New Location for Venue</h3>
  <form class="" action="venue/new" method="post">
  <label for="new-venue-name">Location Name:</label>
  <input type="text" name="new-venue-name" id="new-venue-name" value="">
  <button type="submit" name="button" class="btn btn-success" ><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
Add Now!</button>
  </form>
</div>



  @if(Model["band"].Count!=0)
  {
    <h1>All our Bands</h1>
    @foreach(var band in Model["band"])
    {
      <div class="editForm">
        <h2>Band #@band.GetId():<span class="editNameInputDisplay"> @band.GetName()  | Create Date @band.GetCreateDate()<span></h2>
        <button type="button" name="button" class="editButton btn btn-info btn-lg btn-block"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
Edit</button>
            <form class="editButtonShow" action="/edit/band/@band.GetId()" method="post" class="">
              <input type="hidden" name="_method" value="PATCH">
              <label for="edit-band-name">Enter New Name</label>
              <input type="text" class="form-control editNameInput"  id="edit-band-name" name="edit-band-name" value="" placeholder=@band.GetName()>

              <label for="edit-band-date">Enter Create_Date</label>
              <input type="date" class="form-control editNameInput"  id="edit-band-date" name="edit-band-date" value=@band.GetCreateDate() placeholder=@band.GetCreateDate()>

              <button type="submit" class="btn btn-success btn-lg btn-block" name="button"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
Change to New Name</button>
            </form>
      </div>
      <div class="deleteVenueForm">
          <form class="" action="/delete/band/@band.GetId()" method="post">
            <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn btn-danger btn-lg btn-block" name="button"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
Delete</button>
          </form>
      </div>



      <div class="well">
        <h3>Add Your Band Name to Our Venue</h3>
        <form class="" action="/band/addVenue/@band.GetId()" method="post">
          <select name="addVenues-id">
           @foreach (var v in Model["venue"])
           {
             <option value="@v.GetId()">@v.GetName()</option>
           }
         </select>
          <button type="submit" class="btn btn-success" name="button" >
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            Add Now</button>
        </form>

      </div>

      <div class="ViewBand">
        <button type="button" class="btn btn-success btn-lg btn-block" ><a class="" href="/view/bands/@band.GetId()"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
View Place I ordered it</a></button>
      </div>

        }
  }else{

    <h1>We Don't have any Bands Now. Add New Band Now!</h1>
  }


  <div class="well">
    <h3>Enter New Band</h3>
    <form class="" action="/band/new" method="post">
    <label for="new-band-name">Name:</label>
    <input type="text" name="new-band-name" id="new-band-name" value="">
    <label for="new-band-date">Date:</label>
    <input type="date" name="new-band-date" id="new-band-date" value="">
    <button type="submit" name="button" class="btn btn-success" ><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
  Add New Band Now!</button>
    </form>
  </div>
